@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:wght@100;700&family=Roboto:wght@300&display=swap");
.logroot {
  max-width: 100vw;
  max-height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: "row";
}

.l {
  width: 45%;
  display: block;
  /* padding: 50px; */
  padding-left: 120px;
  padding-right: 20px;
  text-align: center;
  align-content: center;
  /* background: #aa0000; */
}
.r img {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: right, left;
}
section {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* background-color: rgba(0,0,0,0.4);  */
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
  padding-top: 2rem;
}
label {
  text-align: left;
  margin: 20px;
  margin-bottom: 10px;
}
.line {
  display: inline-block;
}
.logo img {
  position: absolute;
  height: 80px;
  width: auto;
  top: 10px;
  left: 10px;
}
.r {
  width: 55%;
}

.line1st {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 10px;
  text-align: left;
  color: #000000;
  padding: 20px;
}
.line2nd {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 64px;
  line-height: 20px;
  display: flex;
  align-items: center;
  padding: 20px;
  padding-bottom: 40px;
}

.contents {
  background-color: #f7f7f7;
  text-align: center;
  align-items: center;
  align-content: center;
  width: 90%;
  padding: 10px;
}
