@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:wght@100;700&family=Roboto:wght@300&display=swap");
.Forgotten {
  margin: 0;
  display: flex;
}
.Forgotten .left {
  width: 60%;
  min-width: 700px;
  max-width: 1000px;
  height: 100vh;
  background: linear-gradient(to right, #e2e2e2 40%, #f4f4f4 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Forgotten .forgot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
}
.Forgotten .forgot img {
  align-self: center;
  width: 80%;
  height: 90%;
}
.Forgotten .logo {
  align-self: flex-start;
  padding: 20px;
  padding-bottom: 0;
}
.Forgotten .logo img {
  height: 80px;
}
.Forgotten .right {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.Forgotten .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 80%;
}

.Forgotten .line1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}
.Forgotten .line2 {
  font-family: "Poppins", sans-serif;
  word-wrap: break-word;
  text-align: center;
  font-style: normal;
  font-weight: bolder;
  font-size: 64px;
  line-height: 80%;
}
.Forgotten .right p {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 19px;
  line-height: 24px;
}

.Forgotten .back {
  align-items: center;
}
@media screen and (max-width: 1100px) {
  .Forgotten {
    display: flex;
    flex-direction: column-reverse;
  }
  div.right {
    min-height: 100%;
  }
  div.left .forgot,
  .logo {
    display: none;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
  }
}
