.box1 {
  box-shadow: /*inset 0 -3em 3em rgba(49, 129, 179, 0.05),*/ 0 0 0 2px
      rgba(255, 255, 255, 0.4),
    0.2em 0.3em 1em rgba(85, 162, 220, 0.3);

  padding: 40px;
  border-radius: 10px;
  border-style: none;
  position: absolute;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 300px;
  left: 300px;
}
.home {
  color: #007efd;
}
